<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <title>Image Classification</title>

</head>
<body>
<h1 class="text-center text-light bg-dark">Image Classification</h1>

<div class="container">
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-outline-secondary btn-lg btn-block">Project 1</br>Dog Breed
                Classifier
            </button>
        </div>
       <!-- <div class="col">
            <button type="button" class="btn btn-outline-secondary btn-lg btn-block">Project 2</br>Skin Cancer
                Classifier
            </button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-outline-secondary btn-lg btn-block">Project 3</br>Soil Type
                Classifier
            </button>
        </div>-->
    </div>
    <div class="text-center p-4">
    <form action="/uploader" method="POST" enctype="multipart/form-data">
        <input class="btn btn-outline-secondary" type="file" name="file"/>
        <input class="btn btn-outline-secondary" type="submit"/>
    </form>
    </div>
    <div class="text-center p-4">
    {% if st: %}
        <img class="rounded-circle" src="{{ '/show/'+st }}" width="150" height="150">
        <p class="text-center text-muted">This is the image you uploaded</p>
    {% endif %}
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>